<form action="/bookmarks/<%= @bookmark.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH"/>
  <input type="text" name="url" placeholder='url'/>
  <input type="text" name="title" placeholder='title'/>
  <input type="submit" value="Submit"/>
</form>
